<h2 class="content-fullrow-1">{{image.title}}</h2>
<div class="content-fullrow-2 card">
    <div class="bg2-color br-10 p-25">
        <img src="/public/upload/{{image.filename}}" alt="" style="width: 100%;" class="br-10">
        <div class="mt-20 br-10">
            {{image.description}}
        </div>
    </div>
</div>