
<div class="content-medium content-row1">
    <h2>{{image.title}}</h2>
    <div class="bg2-color br-10 p-25 mt-10">
        <img src="/public/upload/{{image.filename}}" alt="" style="width: 100%;" class="br-10">
        <div class="mt-20 br-10">
            {{image.description}}
        </div>
    </div>
</div>