<div class="container container--col">
    <div class="profile__header";>
        <div class="profile__banner">
            <img class="profile__banner-image" src="https://th.bing.com/th/id/R.07ce2a9ba960976070f61ec3fa3eba43?rik=ge0VCOHIImPx6Q&riu=http%3a%2f%2fwallpaperheart.com%2fwp-content%2fuploads%2f2018%2f04%2f8k-wallpapers-Beautiful.jpg&ehk=MbPwgYcxCOLGxvnVtj%2fQBu148%2fPeGtUTs2%2b0jXXxY%2bE%3d&risl=&pid=ImgRaw&r=0" alt="">
        </div>
        <div class="profile__top-content-wrapper">
            <div class="profile__content">
                <div class="profile__thumbnail">
                    <img src="https://2wcvjr2o0jc97l6eq1lut4y1-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/no-profile-img.jpg" alt="" class="profile__avatar">
                </div>
                <div class="content-flex flex-dir-col">
                    <span>Solayman Aharmim</span>
                    <span>@saharmim</span>
                </div>
            </div>
            <div class="profile__buttons">
                <button class="button">Follow</button>
                <button class="button">Message</button>
            </div>
        </div>

        {{!-- Profile posts --}}

        <div class="">
            
        </div>
        
    </div>
</div>

