* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}



body,html{
    height:100%;
}

body{
    font-family:Sans-serif;
    background-color: #193e46;
    color:#fff;
    background-repeat: no-repeat;
}

textarea{
    height: 59px;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

/*Top navbar*/

nav{
    background-image: linear-gradient(to top,rgb(50,50,50),rgb(70,70,70));
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:15px;
}

nav #nav-links {
    padding:5px;
}

nav #account-info {
    display:flex;
    flex-direction: row;
    font-size:17px;
    padding:5px;
    color:rgb(255,255,255);
}

nav #account-info a{
    margin-right:10px;
}

nav  #account-info a span{
    font-weight:bold;
    color:rgb(15,175,200);
}

.whts-new{
    color:#000;
    background-color:#fff;
    padding:5px;
    border-radius:5px;
    margin:50px;
    margin-bottom:0;
    
}
.whts-new-list{
    display: flex;
    flex-direction: row;
}
.whts-new-item{
    background-color:rgb(235,235,235);
    border-radius:5px;
    padding:5px;
    margin-right:10px;
}
.whts-new-item span{
    font-weight:bold;
    color:red;
}

/*Buttons*/

.button-type1{
    font-weight:bold;
    font-size:22px;
    padding:5px;
    color:rgb(15,175,200);
    transition: all .5s;
    text-decoration: none;
}
.button-type1:hover{
    color:#fff;
}

.button-type2{
    font-size:17px;
    padding:5px;
    background-color: #ffff;
    color:rgb(15,175,200);
    border-radius:5px;
    transition: all .5s;
    text-decoration: none;
}
.button-type2:hover{
    background-color:#656565;
    color:#ffff;
}

/*Posts*/

#post-list{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 20px;
}


/* *{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    color: #000;
} */

/* navbar */

/* .navbar{
    position: relative;
    overflow: hidden;
    background-color: #ffff;
    box-shadow: 0px 1px 10px #00000063;
    justify-content: center;
    
}

#left-side-navbar{
    align-items: flex-end;
    width: 10%;
    height: 100%;
}
#top-side-navbar{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.navbar .menu-icon{
    padding: 10px;
    border-radius: 45px;
    
}
.navbar .menu-icon a{
    font-size: 2.5vh;
    font-weight: bolder;
    text-decoration: none;
    border: none;
    color:#777777;
    transition: 0.2s;
}
.navbar .menu-icon a:hover{
    color: #ff7373;
} */

/* center-area */

/* .center-area{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    justify-content: center;
    align-items: center;
} */

