* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    text-decoration: none;
}
* {
    overscroll-behavior: contain;
    overscroll-behavior-block: contain;
    scroll-boundary-behavior: contain;
}

body,html{
    height:100%;
}

body{
    font-family:sans-serif;
    color:#fff;
    height:100%;
    width: 100%;
}


textarea{
    height: 59px;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    max-width: 1170px;
    position: sticky;
    margin: 0 auto;
    padding-top: 4.25em;

}

/*Top navbar*/

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:15px;
    z-index: 1;
    box-shadow: var(--box-shadow-3);
}

nav .nav-links {
    padding:5px;
}

nav .nav-account-info {
    display:flex;
    flex-direction: row;
    font-size:17px;
    padding:5px;
    color:rgb(255,255,255);
}

nav .nav-account a{
    margin-right:10px;
}

nav .nav-account a span{
    color:#c52165;
}



/*Defined cards*/

.post-list{
    display: flex;
    flex-direction: column;
}

.pl-suggestions{
    top: 4.25em;
    position: sticky;
    height: 100%;
    width: 30%;
}

.post-wrapper{
    border-bottom: #c52165 solid 2px;
    flex-direction: column;
    padding: 25px;
    color: #fff;
}


/*Media width*/

@media screen and (max-width:1080px) {
    .wrapper{
        margin: 0px !important;
        grid-template-columns: 100% !important;
    }
}

/* .whts-new{
    color:#000;
    background-color:#fff;
    padding:5px;
    border-radius:5px;
    margin-bottom:0;
    height: max-content;
}
.whts-new-list{
    display: flex;
    flex-direction: row;
}
.whts-new-item{
    background-color:rgb(235,235,235);
    border-radius:5px;
    padding:5px;
    margin-right:10px;
}
.whts-new-item span{
    font-weight:bold;
    color:red;
} */