@font-face {
    font-family: 'LemonMilkBold';
    src: url('../fonts//LemonMilkBold-gx2B3.otf') 
        format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LemonMilkRegular';
    src: url('../fonts//LemonMilkRegular-X3XE2.otf') 
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body,html{
    height:100%;
}

body{
    font-family:LemonMilkRegular;
    color:#fff;
    height:100%;
    width: 100%;
}


textarea{
    height: 59px;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.wrapper{
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: 70% 30%;
    row-gap: 20px;
    column-gap: 20px;
}

/*Top navbar*/

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #131313;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    z-index: 1;
}

nav .nav-links {
    padding:5px;
}

nav .nav-account-info {
    display:flex;
    flex-direction: row;
    font-size:17px;
    padding:5px;
    color:rgb(255,255,255);
}

nav .nav-account a{
    margin-right:10px;
}

nav .nav-account a span{
    color:#c52165;
}

.whts-new{
    color:#000;
    background-color:#fff;
    padding:5px;
    border-radius:5px;
    margin-bottom:0;
    height: max-content;
}
.whts-new-list{
    display: flex;
    flex-direction: row;
}
.whts-new-item{
    background-color:rgb(235,235,235);
    border-radius:5px;
    padding:5px;
    margin-right:10px;
}
.whts-new-item span{
    font-weight:bold;
    color:red;
}

/*Defined card*/

.post-list{
    display: flex;
    flex-direction: column;
}
