@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*
 {
    box-sizing:border-box;
    padding:0;
    margin:0;
    text-decoration: none;
}
* {
    overscroll-behavior: contain;
    overscroll-behavior-block: contain;
    scroll-behavior: contain;
}
body,html{
    height:100%;
}
body{
    font-family: "Poppins", sans-serif;
    height:100%;
    width: 100%;
    flex: 1;
    color:#fff;
}
textarea{
    height: 59px;
    resize: none;
}
textarea::-webkit-scrollbar{
    width: 0px;
}

/*Top navbar*/

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    z-index: 1;
    box-shadow: var(--box-shadow-3);
}

nav .nav-bttns-access {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/*Defined cards*/

.main-content-wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    padding-top: 5em;
}

.post-list{
    display: flex;
    flex-direction: column;
}

.profiles-suggestions{
    top: 4.5em;
    position: sticky;
    height: 100%;
    width: 30%;
}

.post-content-wrapper{
    border-bottom: #c52165 solid 2px;
    flex-direction: column;
    padding: 25px;
    color: #fff;
    transition: all .3s;
}
.post-content-wrapper:hover{
    background-color: #1b1c21;
}

/*Home page*/

.homesite-content-wrapper{
    width: 70% !important;
}

/* Post porfile */

.postsite-content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    padding: 10px;
}
.postsite-content-wrapper .post-profile{
    align-items:flex-start;
}
.profile-img-50 {
    width: 50px;
    clip-path: circle(50%);
}


/*Media screen*/

@media screen and (max-width:900px) {
    /* Main Content*/

    .mian-content-wrapper{
        margin: 0px !important;
        flex-direction: column !important;
        padding-top: 1em !important;
        padding-bottom: 5em !important;
    }
    .homesite-content-wrapper{
        width: 100% !important;
    }
    .postsite-content-wrapper{
        width: 100% !important;
        padding: 20px;
    }
    .profiles-suggestions{
        display: none;
    }
    .navbar{
        top: unset;
        bottom: 0;
    }

    /*Post Form*/
    .post-form .form-group-bttns{
        width: 100% !important;
        flex-direction: column;
        justify-content: space-between;
    }
    .post-form .form-group-bttns *{
        width: 100%;
    }
}

/* .whts-new{
    color:#000;
    background-color:#fff;
    padding:5px;
    border-radius:5px;
    margin-bottom:0;
    height: max-content;
}
.whts-new-list{
    display: flex;
    flex-direction: row;
}
.whts-new-item{
    background-color:rgb(235,235,235);
    border-radius:5px;
    padding:5px;
    margin-right:10px;
}
.whts-new-item span{
    font-weight:bold;
    color:red;
} */