/* Background */
.bg-trans{
    background: transparent;
}

.bg-color{
    background-color: #15161a;
}

.bg2-color{
    background-color:#1b1c21;
}

.bg3-color{
    background-color:#ffffff;
}

/*Display*/

.hidden{
    display: none;
}

/* Text */

    /* Font size and weight */

.font-w500{
    font-weight: normal;
}
.font-w700{
    font-weight: bold;
}

    /* Text colors */

.text-rossa{
    color:#c5214a;
}

    /* Text align*/

.text-center{
    text-align: center;
}



/*Buttons*/

.bttn{
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background: #ffffff;
    font-weight: bold;
    color:#c5214a;
    transition: all 0.3s;
}
.bttn:hover{
    outline: none;
    border: none;
    background-color: #a7a7a7;
}

.bttn-1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:0;
    clip-path: circle(50%);
    width: 50px;
    height:50px;
    color:#fff;
    font-size:25px;
    text-decoration: none;
    text-align: center;
    transition: all .5s;
}
.bttn-1:hover{
    color:#c5214a;
    background: white;
}

.bttn-2{
    font-size:17px;
    padding:5px;
    background-color: #c5214a;
    color:#ffff;
    border-radius:5px;
    transition: all .5s;
    text-decoration: none;
}
.bttn-2:hover{
    background-color:#656565;
    color:#ffff;
}

/* Titles */
.tl-1{
    padding: 5px;
    /* border-bottom: #c5214a solid 2px; */
}

/* Margins&Paddings */
.mrl-50{
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.mt-50{
    margin-top: 50px !important;
}
.m-50{
    margin: 50px;
}
.m-20{
    margin: 20px;
}
.mt-20{
    margin-top: 20px !important;
}
.m-200{
    margin: 200px;
}
.mt-10{
    margin-top: 10px;
}

.mt-100{
    margin-top: 100px !important;
}

.p-25{
    padding: 25px;
}
.p-15{
    padding: 15px;
}

/* Border */

.br-10{
    border-radius: 10px;
}

/* Card */

.card{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.card-2{
    display: flex;
}

/* Width&Height */

.w-100{
    width: 100% !important;
}
.w-90{
    width: 90% !important;
}
.w-80{
    width: 80% !important;
}
.w-70{
    width: 70% !important;
}
.w-60{
    width: 60% !important;
}
.w-50{
    width: 50% !important;
}
.w-40{
    width: 40% !important;
}
.w-30{
    width: 30% !important;
}

.mxw-1k{
    max-width: 1000px;
}

/* Input */

.input-1, .tarea-1{
    padding: 10px;
    border-width: 0;
    font-size: 20px;
    width: 100%;
    resize: none;
    color: #fff;
}
.input-1:hover, .input-1:focus, .tarea-1:hover, .tarea-1:focus{
    outline: none;
}

/* Grid */

.content-large{
    grid-column-start: 1;
    grid-column-end:3;
}
.content-medium{
    grid-column-start: 1;
    grid-column-end:2;
}
.content-small{
    grid-column-start: 1;
    grid-column-end:2;
}
.content-expand-down1{
    grid-row-end: span 2;
}
.content-small-force-right{
    grid-column-start: 2;
    grid-column-end:3;
}
.content-row1{
    grid-row-start: 1;
}
.content-row2{
    grid-row-start: 2;
}
.content-row3{
    grid-row-start: 3;
}
.gap-col10{
    column-gap:10px;
}
.gap-row10{
    row-gap:10px;
}

/* Position, flex direccion, align items, jstuify content */

.pos-fixed{
    position: fixed;
}
.pos-abs{
    position: absolute;
}
.pos-rel{
    position: relative;
}
.pos-sticky{
    position: sticky;
}

.flex-dir-row{
    flex-direction: row;
}
.flex-dir-col{
    flex-direction: column;
}
.flex-dir-rowr{
    flex-direction: row-reverse;
}
.flex-dir-colr{
    flex-direction: column-reverse;
}

.align-itm-center{
    align-items: center;
}

.justify-con-sBetween{
    justify-content: space-between;
}
.justify-con-start{
    justify-content: start;
}
.justify-con-center{
    justify-content: center;
}

.flex-1{
    flex: 1;
}

.gap-10{
    gap:10px;
}

.align-self-start{
    justify-self: flex-start;
}



input:-webkit-autofill {
    -webkit-text-fill-color: #ffff;
    -webkit-box-shadow: none !important;
}
input:-moz-autofill {
    -moz-text-fill-color: #ffff;
    -webkit-box-shadow: none;
}
input:-o-autofill {
    -o-text-fill-color: #ffff;
    -webkit-box-shadow: none;
}
input:-khtml-autofill {
    -khtml-text-fill-color:#ffff;
    -webkit-box-shadow: none;
}

input:focus:-webkit-autofill {
    -webkit-text-fill-color: #ffff;
    -webkit-box-shadow: none;
}
input:focus:-moz-autofill {
    -moz-text-fill-color: #ffff;
    -webkit-box-shadow: none;
}
input:focus:-o-autofill {
    -o-text-fill-color:#ffff;
    -webkit-box-shadow: none;
}
input:focus:-khtml-autofill {
    -khtml-text-fill-color: #ffff;
    -webkit-box-shadow: none;
}
