:root{
    --bg-color-1: #15161a;
    --bg-color-2-old:#1b1c21;
    --bg-color-2: #1d1e24;
    --bg-color-2-05: #1b1c2170;
}

.main-wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5em;
}

@media screen and (max-width:800px) {
    .main-wrapper{
        margin: 0px;
        flex-direction: column;
        padding: unset;
        padding-bottom: 5em;
        font-size: 12px;
    }
} 

/* Container class */

.container{
    display: flex;
    flex: 1;
    width: 100%; 
}

.container--row{
    flex-direction: row;
}
.container--col{
    flex-direction: column;
}
.container--gap-20{
    gap: 20px;
}
.container--gap-10{
    gap: 10px;
}
.container--pad-20{
    padding: 20px;
}
.container--pad-20{
    padding: 10px;
}
.container--left-content{
    width: 70%;
}
.container--style-2{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-color-2);
}
.container--stlye-profile{
    padding: 10px;
    gap: 5px;
    background-color:var(--bg-color-2-05);
}

.container__avatar{
    width: 50px;
    clip-path: circle(50%);
}

.container__span{
    font-weight: normal;
}
.container__span--font-bold{
    font-weight: bold;
}

/* Navbar */

.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    z-index: 1;
    background-color: var(--bg-color-2);
}
.nav__links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav__link{
    padding: 10px;
}

@media screen and (max-width:800px) {
    .nav{
        top: unset;
        bottom: 0;
        
    }
    .nav .nav__links-wrapper{
        justify-content: space-around;
        width: 100% !important;
    }
}
/* Titles class */

.title-h2{
    padding: 5px;
}

/* Form classes */

.form__input, .form__text-area{
    padding: 10px;
    border-width: 0;
    font-size: 20px;
    width: 100%;
    resize: none;
    color: #fff;
    background: transparent;
}

.form__text-area:hover, .form__text-area:focus, .form__input:hover, .form__input:focus{
    outline: none;
}

.form__footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.form__text-area--border-rosa{
    border-bottom: #c52165 solid 2px !important;
}

/* Buttons Class */

.button{
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px;
    background: #c5214a;
    font-weight: bold;
    color:#fff;
    transition: all 0.3s;
}
.button:hover{
    outline: none;
    border: none;
    background: #a11d3e;
}

.button-2{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    align-items: center;
    font-weight: normal;
    justify-content: center;
    color:#808080;
    font-size:25px;
    transition: all .5s;
}
.button-2:hover{
    color:#c5214a;
}

/* Post class */

.post-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.post--hover:hover{
    background-color: #1b1c21;
}

.post__header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items:flex-start;
    width: 100%;
}
.post__profile-avatar{
    width: 50px;
    clip-path: circle(50%)
}

.post__main-wrapper{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
}
.post__text{
    display:flex;
    flex-direction: column;
    gap: 10;
    padding: 15px;
    margin-top: 10px;
}
.post__media-wrapper{
    display: flex;
    flex-direction: row;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.post__media-subwrapper{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    width: 50%;
    min-width: 50%;
    height: 100%;
    margin-right: 2px;
}

.post__media-thumbnail-container{
    width:100%;
    height: auto;
    margin-bottom: 2px;
}

.post__media-image{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    background-size: cover;
}
.post__media-video{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post__footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    width: auto;
    margin: 10px;
    font-weight: 500px;
}

/* Post modifiers */

.post--border-rossa{
    border-bottom: #c52165 solid 2px !important;
}
.post--pad-10{
    padding: 10px;
}

/* Post fomr classes */

.post-form{
    display: flex;
}

/* b-container or suggestions*/

.b-container{
    top: 4.5em;
    position: sticky;
    height: 100%;
    min-width: 30%;
}
.b-container__content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.b-container__list-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-color-2);
}
.b-container__profile-container{
    background-size: cover;
    border-radius: 10px;
}

@media screen and (max-width:800px) {
    .b-container{
        display: none;
    }
}

/* profile class */

.profile__header{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.profile__header .profile__banner{
    width: 100%;
    height: 13em;
    overflow: hidden;
    border-radius: 10px;
}
.profile__banner .profile__banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}
.profile__top-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: -2em;
    background-color: var(--bg-color-2);
    border-radius: 10px;
}
.profile__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.profile__thumbnail{
    width: 5em;
    min-width: 60px;
    height: auto;
    border: var(--bg-color-2) solid 5px;
    border-radius: 50%;
    
}
.profile__top-content-wrapper .profile__avatar{
    width: 100%;
    clip-path: circle(50%);
}

.profile__buttons{
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 10px;
}

@media screen and (max-width:800px) {
    .profile__top-content-wrapper .profile__content{
        align-items: flex-start;
        flex-direction: column;
    }
}

/* Modal */

/* Modal media */

.modal__media{
    display: none;
    position: fixed;
    z-index: 2;
}

.modal__media-wrapper{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color:var(--bg-color-2-05);
}

.modal__media-thumbnail{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    width: 100%;
}

.modal__media-thumbnail .modal__media-image{
    max-width: 100%;
    max-height: 100%;
}

.modal__media-wrapper .modal__button-cross{
    align-items: flex-start;
    background: transparent;    
}
.modal__media-wrapper .modal__button-cross:hover{
    color: var(--bg-color-2);
}