.post-item{
    margin-bottom:20px;
    border-radius:10px;
    overflow:auto;
    /*box-shadow: 0px 0px 5px 0.1px #91e6ff;*/
}

.post-item header{
    font-weight:bold;
    color: rgb(255,255,255);
    padding: 10px;
    display:flex;
    justify-content:space-between;
}
.post-item .post-text{
    font-weight:bold;
    color:#a0a0a0 !important;
    padding:25px;
    background-color:transparent;
}
.post-form{
    border-radius:10px;
    overflow:auto;
    padding: 10px;
}
.post-form .form-group-bttns{
    width: fit-content;
}