.post-item{
    margin-bottom:20px;
    border-radius:10px;
    overflow:auto;
    /*box-shadow: 0px 0px 5px 0.1px #91e6ff;*/
}

.post-item header{
    font-weight:bold;
    background-image: linear-gradient(to top,rgb(50,50,50),rgb(70,70,70));
    color: rgb(255,255,255);
    padding: 10px;
    display:flex;
    justify-content:space-between;
}

.post-item .post-buttons{
    padding:5px;
}
.post-item .post-buttons .button-type2{
    margin-right:10px;
}

.post-item .post-text{
    font-weight:bold;
    color:#000 !important;
    padding:25px;
    background-color: rgb(255,255,255);
}

#common-container{
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-bottom:20px;
    margin-top: 0px;
    justify-content: space-between;
}

.post-form{
    border-radius:10px;
    overflow:auto;
    background: #fff;
    padding: 10px;
    width: 49.7%;
}
.post-form .form-group .input-group{
    padding: 5px;
}
.post-form .form-group .input-group *{
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(50,50,50);
    width: 100%;
    resize: none;
}
.post-form .form-group .input-group *:focus{
    outline: none;
    border-radius: 10px !important;
}
.post-form .form-group2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#recent-people-list{
    width: 49.7%;
    border-radius:10px;
    background-color: #fff;
}