<div class="modal__media">
    <div class="modal__media-wrapper">
        <a class="button modal__button-cross" value=".modal__media">
            <i class="fas fa-times"></i>
        </a>
        <div class="modal__media-thumbnail">
            <img src="" alt="" class="modal__media-image">
        </div>
    </div>
</div>