<div id="profile-board">
    <header>
        <img src="https://2wcvjr2o0jc97l6eq1lut4y1-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/no-profile-img.jpg" width=200px/>
        <div id="profile-board-persnInfo">
            <span id="profile-name">Solayman Aharmim</span>
            <div><span>Address: </span>Avenida Gava, Viladecans, Barcelona, Spain</div>
            <div><span>Birthday: </span>04/09/2004</div>
            <div><span>E-mail: </span>solaymanad@outlook.com</div>
            <div><span>Account created: </span>11/25/2021</div>
        </div>
    </header>
    <div id="profile-board-description">
        <header>
            <h1>About me</h1>
            <div id="profile-buttons">
                <a class="button-type2">Editar</a>
            </div>
        </header>
        <div id="profile-description">
            Curabitur ac ultrices arcu, vitae rutrum ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tellus turpis. Fusce quis rhoncus leo. Integer a efficitur metus. Phasellus mollis nisl vitae neque pellentesque, id elementum urna gravida. Aenean laoreet vulputate nunc vitae porta. Nulla eu bibendum neque. Donec interdum accumsan libero, ut venenatis metus euismod posuere. Fusce non porta est. Ut efficitur a velit quis mollis. Maecenas mollis metus non lacus blandit, at scelerisque diam vehicula. Nam convallis, leo et porta ullamcorper, mi risus consequat odio, vel laoreet est ex sit amet nibh. Praesent nec imperdiet nibh. Duis euismod odio ipsum, vitae varius libero egestas id. Pellentesque dui sem, luctus eget scelerisque sed, fermentum et ipsum.
        </div>
    </div>
</div>

